
Port 22
ListenAddress 0.0.0.0
LogLevel INFO
LoginGraceTime 3m
PermitRootLogin no
PermitEmptyPasswords no
StrictModes yes
MaxAuthTries 3
MaxSessions 1
PubkeyAuthentication yes
AuthorizedPrincipalsFile none
AuthorizedKeysCommandUser nobody
HostbasedAuthentication no
IgnoreUserKnownHosts yes
IgnoreRhosts yes
ChallengeResponseAuthentication no
KerberosAuthentication no
AllowAgentForwarding yes
AllowTcpForwarding yes
GatewayPorts no
PermitTTY yes
PrintMotd yes
PrintLastLog yes
TCPKeepAlive yes
UsePrivilegeSeparation sandbox
PermitUserEnvironment no
Compression delayed
UseDNS yes
PermitTunnel yes
